/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.rotate-svg {
  animation: rotate 3s linear infinite; /* Rotate over 3 seconds continuously */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Initial state */
  }
  to {
    transform: rotate(360deg); /* Final state after rotation */
  }
}

